@model AdministradorTareas.Models.tareas


@{
    ViewData["Title"] = "Crear Tarea";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="categoria" class="control-label"></label> <br />              
                <select asp-for="categoria" id="categoria" class="form-select" data-md-selectize>
                @foreach (var item in ViewBag.categorias)
                {                   
                        <option value="@item.ID">@item.nombre</option>                   
                }
                 </select>               
            </div>
            <div class="form-group">
                <label asp-for="tarea" class="control-label"></label>
                <input asp-for="tarea" class="form-control" />
                <span asp-validation-for="tarea" class="text-danger"></span>
            </div>
            <div class="form-group">             
                <label asp-for="asignacion" class="control-label"></label><br />
                <select asp-for="asignacion" id="asignacion" class="form-select" data-md-selectize>
                @foreach (var item in ViewBag.usuarios)
                {                   
                        <option value="@item.Id">@item.UserName</option>                   
                }
                 </select>  
            </div>

            <div class="form-group">
                <label asp-for="fechaLimite" class="control-label"></label>
                <input asp-for="fechaLimite" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                <span asp-validation-for="fechaLimite" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

